.logo{
    width: 112px;
    height: 112px;
    background-repeat:no-repeat;
    background-position: center center;
    background: url('/logo.png') center center no-repeat;
    background-size: contain;
  }  