<div class="container">
    <div class="row-end">
        <button mat-icon-button (click)="logout()">
            <mat-icon>logout</mat-icon>
        </button>
    </div>

    <div class="acoes-primarias">
        <app-logo>

        </app-logo>
        <div class="info-cliente">
            <h2>Use Por Onde Flor</h2>
            <p [textContent]="pessoa()?.nome"></p>
        </div>

        @if(historicoDePontos() == null){
        <mat-spinner></mat-spinner>
        }@else {
        <div class="pontos-group">
            <div class="cartao-pontos">
                <ponto-app
                    [enable]="(historicoDePontos()?.saldoPontos ?? 0) >= 1"></ponto-app>
                <ponto-app
                    [enable]="(historicoDePontos()?.saldoPontos ?? 0) >= 2"></ponto-app>
                <ponto-app
                    [enable]="(historicoDePontos()?.saldoPontos ?? 0) >= 3"></ponto-app>
                <ponto-app
                    [enable]="(historicoDePontos()?.saldoPontos ?? 0) >= 4"></ponto-app>
                <ponto-app
                    [enable]="(historicoDePontos()?.saldoPontos ?? 0) >= 5"></ponto-app>
                <ponto-app
                    [enable]="(historicoDePontos()?.saldoPontos ?? 0) >= 6"></ponto-app>
                <ponto-app
                    [enable]="(historicoDePontos()?.saldoPontos ?? 0) >= 7"></ponto-app>
                <ponto-app
                    [enable]="(historicoDePontos()?.saldoPontos ?? 0) >= 8"></ponto-app>
                <ponto-app
                    [enable]="(historicoDePontos()?.saldoPontos ?? 0) >= 9"></ponto-app>
                <ponto-app
                    [enable]="(historicoDePontos()?.saldoPontos ?? 0) >= 10"></ponto-app>
            </div>

            <p>1 ponto a cada R$ 100,00, válido por 1 ano.</p>
            <h3>Ganhe 20% de desconto a cada 10 pontos.</h3>
            @if(exibirCupomLiveHoje){
            <p class="cupom-live">CUPOM DA LIVE: LIVE022026</p>
            }
        </div>
        }

    </div>

    <div class="footer-regulamento">
        <app-text-button
            [label]="'Regulamento'"
            [action]="onRegulamentoTap"></app-text-button>
    </div>
</div>