<div class="container">
    <div class="row-end">
        <button mat-icon-button>
            <mat-icon>logout</mat-icon>
        </button>
    </div>

    <div class="acoes-primarias">
        <app-logo>

        </app-logo>
        <div class="info-cliente">
            <h2>Use Por Onde Flor</h2>
            <p>Esthefane Machado Verás Carneiro - ID</p>
        </div>
        <div class="pontos-group">
            <div class="cartao-pontos">
                <ponto-app [enable]="true"></ponto-app>
                <ponto-app [enable]="true"></ponto-app>
                <ponto-app [enable]="true"></ponto-app>
                <ponto-app [enable]="false"></ponto-app>
                <ponto-app [enable]="false"></ponto-app>
                <ponto-app [enable]="false"></ponto-app>
                <ponto-app [enable]="false"></ponto-app>
                <ponto-app [enable]="false"></ponto-app>
                <ponto-app [enable]="false"></ponto-app>
                <ponto-app [enable]="false"></ponto-app>
            </div>

            <p>1 ponto a cada 100,00, validos por 1 ano</p>
            <h3>Ganhe 20% de desconto a cada 10 pontos</h3>
        </div>

    </div>
</div>