
<div class="email-group" [formGroup]="loginGroup">

    @if(emailDeRecuperacaoEnviado()){
    <h2>Um e-mail de recuperação de senha foi enviado para
        {{emailControl.value}}. Por favor, verifique sua caixa de entrada.</h2>

    <div class="row">

        <button type="button" id="esqueceu-seu-email-button"
            (click)="irParaPagindaDoCodigo()"
            class="pof-btn-text" placeholder>Já recebi o e-mail
        </button>

        <button type="button" id="esqueceu-seu-email-button"
            (click)="voltarParaLogin()"
            class="pof-btn-text" placeholder>Voltar para o login
        </button>
    </div>

    } @else {
    <p>Insira o e-mail associado à sua conta para receber o codigo de
        redefinição
        de senha.</p>
    <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="E-mail" formControlName="email"
            [value]="loginGroup.get('email')?.value"
            (input)="onEmailInput($event)" />
    </mat-form-field>
    <mat-error class="error-message">{{errorMessage()}}</mat-error>
    @if (!carregando()) {
    <div class="button-group">
        <app-filled-button [label]="'Avançar'"
            [enabled]="avancaEnable()" (onTap)="solicitarRedefinicaoDeSenha()"
            class="button avanca-button"></app-filled-button>
    </div>
    }@else {
    <app-pof-loader variante="inline"></app-pof-loader>
    }

    }

</div>