.container{
    padding: 16px;
}

.item{
  
    padding: 8px;
}

.item-list{
    padding: 16px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Mantém os elementos o mais longe possível */
  align-items: center; 
}

 mat-form-field{
        width: 100%;
    }