
.input-group {
    margin-bottom: 15px;
    display:flex;
    flex-direction: column;
}
#acao-container {
    padding-bottom: 40px;
}
.row{
    display: flex;
    justify-content: end;
    align-items: end;
}