@if(loading()){

}@else {
<div class="container">

    <h1>Pagamento: {{pagamento?.identificadorExterno}}</h1>

    <p>Valor: {{pagamento?.valor}}</p>
    <p>Data de criação: {{pagamento?.dataCriacao}}</p>
    @if(pagamento?.cancelado){
    <p>Pagamento cancelado</p>
    }@else if(pagamento?.urlComprovante == null) {
    <p>Pendente </p>
    }
    <div class="row">
        <button mat-icon-button
            [cdkCopyToClipboard]="'www.useporondeflor.com.br/pagamento?orderNsu=' +
            pagamento?.orderNsu">
            <mat-icon>content_copy</mat-icon>
        </button>

        <p>{{'www.useporondeflor.com.br/pagamento?orderNsu=' +
            pagamento?.orderNsu}}</p>
    </div>
    @if(!pagamento?.cancelado && pagamento?.urlComprovante == null)
    {
    <button mat-button class="cancelar-btn" (click)="onCancelarTap()">
        Cancelar Pagamento
    </button>
    }

    @if(pagamento?.cancelado && pagamento?.urlComprovante == null)
    {
    <button mat-button class="cancelar-btn" (click)="onTapAtivarPagamento()">
        Reativar Pagamento
    </button>
    }

    @if(pagamento?.urlComprovante != null){
    <div class="comprovante-container">
        <object data={{pagamento?.urlComprovante}}>
            <embed src={{pagamento?.urlComprovante}}/>
        </object>
    </div>
    }

</div>
}
