.row{
    display: flex;
    justify-content: end;
    align-items: end;
}

mat-form-field{
    width: 100%;
  }

  #acao-container {
    padding-bottom: 40px;
}

.text-button {
    text-align: start;
    color: var(--material-theme-sys-light-primary, #006B5B) !important;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    outline: none;
    border: none;
    padding: 0px;
    background-color: inherit;
}