  
      .email-group{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
      } 

      .error-message {
        color: red;
      }

      .text-button:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }
      
      .text-button:active {
        background-color: rgba(0, 0, 0, 0.1);
      } 
     
      mat-form-field{
        width: 100%;
      }
      b {
          color: #000;
          font-family: Roboto;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px /* 142.857% */;
          width:100%;
      }
     
        h2 { 
          color: #000;
          font-family: "Work Sans";
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: -0.4px; 
          margin: 0px !important;
        }
        p {
          color: #000;
          font-family: Roboto;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px /* 142.857% */;
          margin: 0px !important;
        } 

      #esqueceu-seu-email-button {
        padding: 0px !important;
        margin-top: 0px !important; 
     } 
     .text-button {
        text-align: start;
        color: var(--material-theme-sys-light-primary, #006B5B) !important;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        outline: none;
        border: none; 
        padding: 0px;
        background-color: inherit;
      }

   .row {
    display: flex;
    justify-content: space-between; /* Distribui os elementos com espaço igual entre eles */
    align-items: center; /* Alinha os elementos verticalmente ao centro */
    box-sizing: border-box;
    flex-direction: row; 
    width: 100%;
  }

      