<div class = "body-all">
    <div class="container">
      <div class="acoes-primarias"> 

        <app-logo></app-logo>

        <div class = "informacoes">
          <h2>Fazer login</h2>
          <p>Acesso a fidelidade: {{selectEmail()}}</p> 
          <!-- @if(selectEmail() != ''){
            <p>Olá, {{selectEmail()}}</p>
          } -->

        </div>
         <app-email (emailChange)="emailChange($event)"></app-email>
        <b>
          Ganhe 20% de desconto toda vez que completar seu cartão fidelidade.
        </b>

        <div class="button-group">
          <button class="button text-button">Criar Conta</button>
          <app-filled-button [label]="buttoLabel()"  [color]="'red'" [enabled]="emailControl.valid" [action]="avancaTap" class="button avanca-button"></app-filled-button>
        </div>
      </div>
      
       
    </div>
      <div class = "botoes-inferiores">
        <app-text-button 
        [label]="'Ajuda'" 
        [action]="onAjudaTap">
      </app-text-button>  
      <app-text-button 
        [label]="'Privacidade'" 
        [action]="onAjudaTap">
      </app-text-button> 
      </div>
</div>

