<div class="body-all">
  <div class="container">
    <div class="acoes-primarias">

      <app-logo></app-logo>

      <div class="informacoes">
        <h2>Fazer login</h2>
        <p>Acesso a fidelidade</p>
      </div>

      <div class="formulario-login">
        <form [formGroup]="loginGroup">
          <router-outlet name="loginOutlet"></router-outlet>
        </form>
      </div>

      <b>
        Ganhe 20% de desconto toda vez que completar seu cartão fidelidade.
      </b>

    </div>

  </div>
  <div class="botoes-inferiores">
    <app-text-button
      [label]="'Ajuda'"
      [action]="onAjudaTap">
    </app-text-button>
    <app-text-button
      [label]="'Privacidade'"
      [action]="onAjudaTap">
    </app-text-button>
  </div>
</div>
